<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<meta charset="utf-8">
<div class="title_group1">
    <h3 class="title1"><span designElement="text" textIndex="2"  textTemplatePath="cmVzcG9uc2l2ZV93cmlzdHdhdGNoX2NsYXNzaWNfZ2wvbWFpbi9pbmRleC5odG1s" >New Collection</span></h3>
</div>
<div class="show_display_col4">
<style>
.designDisplay_633b83b76d26d .goods_list li.gl_item{ width:300px; }
</style>

<div id='designDisplay_633b83b76d26d' class='designDisplay' designElement='display' templatePath='main/index.html' displaySeq='10342' page='' perpage='' category='' displayStyle='responsible'>

<div class="designDisplay_633b83b76d26d display_responsible_class ">
<style>
    .designDisplay_633b83b76d26d.goods_list li.gl_item{ width:300px; }
</style>
<ul class="goods_list designDisplay_633b83b76d26d goods_info_style_2">

<!-- NEW PRODUCT  반복코드 -->
<% for(int i = 0 ; i < newObj.size() ; i++){%>
<li class="gl_item">
<div class="gl_inner_item_wrap">

    <!--상품이미지-->
    <div class="gli_image goodsDisplayImageWrap">
 		<a href="view?no=<%=newObj.get(i).getPdd_idx()%>" class="respItemImageArea" onclick="display_goods_view('<%=newObj.get(i).getPdd_idx()%>','',this,'goods_view')">
            <img src="<%=newObj.get(i).getPdd_imgurl()%>" data-src="<%=newObj.get(i).getPdd_imgurl()%>" class="goodsDisplayImage lazyload" onerror="this.src='./images/noimage.gif'"/>
        </a>
        <!-- 반응형 모바일 시작 -->
        <div class="respGoodsZzim">
            <a class="zzimArea" href="#">
                <img src="./images/icon_zzim.png" class="zzimImage normal " alt="찜하기" title="찜하기" />
                <img src="./images/icon_zzim_on.png" class="zzimImage active hide" alt="찜한 상품" title="찜한 상품" />
            </a>
        </div>
        <!-- 반응형 모바일 끝 -->
    </div>

    <div class="resp_display_goods_info infO_style_2">
    <!-- +++++++++++++++++++++++++++++++++ NEW 상품 정보 ++++++++++++++++++++++++++++++++ -->
        <!-- 컬러옵션 -->
        <div class="goodS_info displaY_color_option">
        </div>

        <div class="infO_group">


            <!-- 상품명-->
            <div class="goodS_info displaY_goods_name">
                <span class="areA"><a href="view?no=<%=newObj.get(i).getPdd_idx()%>"><%=newObj.get(i).getPdd_name()%></a></span>
            </div>
        </div>

        <!-- 짧은 설명 -->
        <div class="goodS_info displaY_goods_short_desc">
            <span class="areA"><a href="view?no=<%=newObj.get(i).getPdd_idx()%>"><%=newObj.get(i).getPdd_explain()%></a></span>
        </div>

        <div class="infO_group">
            <!-- (할인혜택)판매가 -->
            <div class="goodS_info displaY_sales_price">
                <span class="areA">
		            <span class="nuM"><strike><%=newObj.get(i).getPdd_nprice()%></strike></span><br>                	
                    <span class="nuM"><%=newObj.get(i).getPdd_sprice()%></span>&#x20a9;&nbsp;&nbsp;&nbsp;
                    <span class="nuM"><%=newObj.get(i).getPdd_saleper()%>%</span>
                </span>
            </div>
        </div>
    </div>
</div>
</li>
<!-- NEW PRODUCT  반복코드 끝 -->
<%}%>


</ul>
</div>


</div>

</div>